{% extends 'base.html' %}
{% load crispy_forms_tags staticfiles %}



{% block content %}


    <div class="well pad-0" id="form-wizard">
            <div class="header">
                <i class="pull-left icon-briefcase colour"></i>

                <h2 id='project-title'>Project Wizard</h2>
            </div>
        <div class="row">

    <div class="span7 offset1">


        <div class="row">
            <div class="tab-content">


                <div class="tab-pane active" id="new-project">

                    <div class="form-fixed">
                    <div class="span7">


                        <div class="instructions">
                            <p class="lead">
                                Step 1: Create Project
                            </p>

                            <!--
                            <p>
                                Fill out the fields below to create a new project.
                                Next you will add categories and tasks to this projects
                            </p>
                            -->

                            <p class="success-message">
                                New Project added!
                            </p>
                        </div>
                        {% crispy form %}
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="new-task">
                    <div class="span4">
                        <div class="form-fixed row">
                            <div class="span4">
                                <div class="instructions">
                                    <p class="lead">
                                        Step 2: Create Tasks
                                    </p>

                                    <!--
                                    <p>
                                        Fill out the fields below to add tasks to this project.
                                    </p>
                                    -->

                                    <p class="success-message">
                                        New Task added!
                                    </p>
                                </div>
                                {% crispy task_form %}
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <h3>Tasks</h3>
                        <ul class="nav nav-list" id="task-list">
                        </ul>
                    </div>
                </div>
                <div class="tab-pane" id="new-category">

                    <div class="span4">
                        <div class="form-fixed row">
                            <div class="span4">
                                <div class="instructions">
                                    <p class="lead">
                                        Step 3: Create Categories
                                    </p>

                                    <!--
                                    <p>
                                        *Optional. Fill out the fields below to create a new categories or skip this step and
                                        reuse
                                        existing categories.
                                    </p>
                                    -->

                                    <p class="success-message">
                                        New Category added! Now create tasks for this project.
                                    </p>
                                </div>
                                {% crispy task_category_form %}
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <h3>Categories</h3>
                        <select id="bundle-choices"></select>
                        <ul class="nav nav-list" id="task-category-list">
                        </ul>
                    </div>
                </div>

                <div class="tab-pane" id="new-bundle">

                    <div class="form-fixed">
                        <div class="span7">
                            <div class="instructions">
                                <p class="lead">
                                    Create Bundle
                                </p>
                                <p class="success-message">
                                    New Bundle added!
                                </p>
                            </div>
                            {% crispy bundle_form %}
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="new-update">

                    <div class="form-fixed">
                        <div class="span7">
                            <div class="instructions">
                                <p class="lead">
                                    Create Update
                                </p>
                                <p class="success-message">
                                    New Update added!
                                </p>
                            </div>
                            {% crispy update_form %}
                        </div>
                    </div>
                </div>


                 <div class="tab-pane" id="new-change">

                    <div class="form-fixed">
                        <div class="span7">
                            <div class="instructions">
                                <p class="lead">
                                    Create Change Order
                                </p>
                                <p class="success-message">
                                    New Change Order added!
                                </p>
                            </div>
                            {% crispy change_form %}
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="save">
                    <div class="span7">
                        <div class="instructions">
                            <p class="lead">
                                Add Images
                            </p>
                            <!-- <p>
                                If you have completed the previous steps, click "save" below to start adding project images.
                            </p> -->
                            <p class="success-message">
                                New Image added!
                            </p>
                        </div>
                        {% crispy project_image_form %}

                    </div>
            </div>

        </div>
    </div>
    </div>
    <div class="span4">
            <h3>Project Summary</h3>
            <div id="project-summary-fields"></div>
            <ul class="nav nav-list" id="project-summary">
            </ul>
    </div>
    <div class="tabs-left">
        <ul class="nav nav-list nav-tabs" id="step-nav">
            <li class="active">
                <a href="#new-project"><i class="icon-home"></i> <span>Project</span></a>
            </li>
            <li class="disabled">
                <a href="#new-task"><i class="icon-tasks"></i> <span>Tasks</span></a>
            </li>
            <li class="disabled">
                <a href="#new-category"><i class="icon-tag"></i> <span>Categories</span></a>
            </li>
            <li class="disabled">
                <a href="#new-bundle"><i class="icon-tags"></i> <span>Bundles</span></a>
            </li>
            <li class="disabled">
                <a href="#new-update"><i class="icon-ok-circle"></i> <span>Updates</span></a>
            </li>
            <li class="disabled">
                <a href="#new-change"><i class="icon-edit"></i> <span>Change Orders</span></a>
            </li>
            <li class="disabled">
                <a href="#save"><i class="icon-picture"></i> <span>Images</span></a>
            </li>

            <li class="disabled dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="icon-code-fork"></i> <span>Version History</span>
                </a>
                <ul id="version-list" class="dropdown-menu"></ul>
            </li>

            <li class="disabled">
                <a href="#save-version" onclick="$('#submit-id-save_project').click()">
                    <i class="icon-save"></i> <span>Save Version</span>
                </a>
            </li>
            <li class="disabled">
                <a href="#view-project-page" id="view-project-page"><i class="icon-external-link"></i> <span>View Project Page</span></a>
            </li>
            <a href="#" id="collapse-step-nav">
                <i class="icon-double-angle-left"></i>
            </a>
        </ul>
    </div>

{% endblock %}


{% block extra_js %}
    {# <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> #}
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'js/projects/projectWizard.js' %}"></script>

    <script type="text/javascript">
        var task_form_url = "{% url 'tasks:task-form' %}";
        var category_form_url = "{% url 'tasks:task-category-form' %}";
        var bundle_form_url = "{% url 'tasks:bundle-form' %}";
        var project_form_url = "{% url 'projects:project-form' %}";
        var update_form_url = "{% url 'updates:update-form' %}";
        var change_form_url = "{% url 'changes:change-form' %}";

        $('#collapse-step-nav').click(function(e) {
            e.preventDefault();
            if ($(this).find('i').hasClass('icon-double-angle-left')) {
                $(this).parent().find('a > span').hide();
                $(this).find('i').removeClass('icon-double-angle-left').addClass('icon-double-angle-right')
            } else {
                $(this).parent().find('a > span').show();
                $(this).find('i').removeClass('icon-double-angle-right').addClass('icon-double-angle-left')
            }
        });

        $('#collapse-step-nav').click();


        {% comment %}

$( document ).ajaxComplete(function( event,request, settings ) {
    if (settings.url == '/cpm/create/') {
        $('#new-project').find('.success-message').show(1000).hide(5000);
    }
    else if (settings.url ^= '/cpm/update/') {
        $('#new-project').find('.success-message').show(1000).hide(5000);
    }
    else if (settings.url == '/cpm/tasks/create/') {
        $('#new-task').find('.success-message').show(1000).hide(5000);
    }
    else if (settings.url ^= '/cpm/tasks/update/') {
        $('#new-task').find('.success-message').show(1000).hide(5000);
    }
    else if (settings.url == '/cpm/tasks/category/create/') {
        $('#new-category').find('.success-message').show(1000).hide(5000);
    }
    else if (settings.url ^= '/cpm/tasks/category/update/') {
        $('#new-category').find('.success-message').show(1000).hide(5000);
    }
    else if (settings.url == '/cpm/updates/create/') {
        $('#new-update').find('.return-message').hide(5000);
    }
    else if (settings.url == '/cpm/changes/create/') {
        $('#new-change').find('.success-message').show(1000).hide(5000);
    }
});
{% endcomment %}

    </script>

{% endblock extra_js %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}">
    <style>

    #collapse-step-nav {
        padding: 2px 15px;
    }

    #step-nav a span {
    }


   #step-nav i {
        font-size: 22px;
        min-width: 30px;
        display: inline-block;
        line-height: 18px;
        text-align: center;

    }
    #step-nav li a {
        height: 20px;
        min-width: 20px;
    }

    #version-list {
        max-height: 150px;
        overflow-y: scroll;

    }
    #project-summary-fields > a:first-child {
        position: relative;
        bottom: 40px;
        font-size: 20px;
    }
    #form-wizard .tab-content {
        overflow: inherit;
    }
    .nav-list > li > a, {
        margin-right: 0;
        margin-left: 0;
    }
    .nav-list {
        padding-right: 0;
     }
    .form-fixed, #step-nav {
        position: fixed;
    }
    .form-fixed {
        top: 160px;
    }
    #step-nav {
        top: 160px;
        background-color: #f7f7f7;
        left:0;
    }
    .placeholder {
        min-height: 24px;
    }
    #form-wizard {
        min-height: 1000px;
    }
    #form-wizard h3 {
        margin-top: 30px;
    }
        .success-message {
            display: none;
        }

        .pad-0 {
            padding: 0;
        }
        .pad-0.well {
            border-width: 0;
        }

        .margin-0 {
            margin: 0;
        }

        .well .header {
            width: 100%;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }

        .header i {
            padding: 15px;;
            font-size: 60px;
        }

        .header .colour {
            color: #f7f7f7;
        }

        .header .colour:hover {
            color: #19C1C3;
        }

        .header h2 {
            line-height: 90px;
            color: #fff;
            margin: 0;
        }

        .header {
            padding: 0 0;
            background: #323A45;
            margin: 0 auto 20px;
            height: 86px;
            width: 100%;
            z-index: 1000;
        }

        .form-actions, form {
            margin-bottom: 0;
        }

        .form-actions {
            background-color: #d3d3d3;
        }

        .header h2 {
            line-height: 90px;
            color: #fff;
            margin: 0;
        }
    </style>
{% endblock extra_css %}


