{% extends 'base.html' %}
{% load staticfiles crispy_forms_tags webdesign %}

{% block extra_css %}

    <link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}">
{% endblock extra_css %}


{% block sub_menu %}{{ block.super }}
    <li class="active"><a href="#updates" data-toggle="tab"><i class="icon-ok-circle"></i></a></li>
    <li><a href="#tasks" data-toggle="tab"><i class="icon-tasks"></i></a></li>
    <li><a href="#change-orders" data-toggle="tab"><i class="icon-edit"></i></a></li>
    <li><a href="#galleries" data-toggle="tab"><i class="icon-picture"></i></a></li>
{% endblock sub_menu %}

{% block title %}
    <h1>
        {{ project.title|title }}
        <small>
        </small>
    </h1>
{% endblock title %}
{% block intro %}
    <div class="progress active">
        <div class="bar" style="width: {% widthratio project.get_progress 1 100 %}%;"></div>
    </div>
{% endblock intro %}



{% block content %}


    <div class="wpl-widget">

    <div class="tab-content">
    <div id="updates" class="tab-pane active">
        <div class="updates">

            <div class="header">
                <h2>Updates</h2>
            </div>

            <div class="row">

                <div class="tabbable">
                    <div class="span2 tabs-left">
                        <ul class="nav nav-tabs">
                            {% for update in project.update_set.all|dictsortreversed:"created" %}
                                <li {% if forloop.first %}class="active"{% endif %}>
                                    <a href="#tab-content-{{ update.slug }}"
                                       data-toggle="tab">{{ update.created|date:"N d" }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-content">

                        {% for update in project.update_set.all %}
                            <div id="tab-content-{{ update.slug }}"
                                 class="tab-pane{% if forloop.first %} active{% endif %}">
                                <div class="span4">
                                    <h3>
                                        <a href="{% url 'updates:update-detail' update.id %}">
                                            {{ update.title|title }}
                                        </a>
                                    </h3>

                                    <p>{{ update.description }} {% lorem 2 p %}</p>
                                </div>

                                <div class="span6">

                                {% if update.update_images.all %}

                                    {% for img in update.update_images.all %}

                                    {% if forloop.first %}
                                    <img class="thumbnail" src="{{ img.image.url }}">
                                    <div class="row">
                                        {% else %}
                                        <div class="span1">
                                            <img class="thumbnail" src="{{ img.image.url }}">
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>

                                {% else %}
                                    <img class="thumbnail" src="holder.js/450x300/gray">

                                    <div class="row">
                                        <div class="span1">
                                            <img class="thumbnail" src="holder.js/50x50/gray">
                                        </div>
                                        <div class="span1">
                                            <img class="thumbnail" src="holder.js/50x50/gray">
                                        </div>
                                        <div class="span1">
                                            <img class="thumbnail" src="holder.js/50x50/gray">
                                        </div>
                                        <div class="span1">
                                            <img class="thumbnail" src="holder.js/50x50/gray">
                                        </div>
                                        <div class="span1">
                                            <img class="thumbnail" src="holder.js/50x50/gray">
                                        </div>
                                        <div class="span1">
                                            <img class="thumbnail" src="holder.js/50x50/gray">
                                        </div>
                                    </div>
                                {% endif %}


                                    {% if update.tasks.all %}
                                <h3>
                                    Tasks Completed This Update:
                                </h3>

                                <dl>
                                        {% for task in update.tasks.all %}
                                            <dt class="lead">
                                                {{ task.title|title }}
                                            </dt>
                                            <dd>
                                                <dl class="dl-horizontal">
                                                    <dt>
                                                        Category:
                                                    </dt>
                                                    <dd>
                                                    {{ task.category.title|title }}
                                                    </dd>
                                                    <dt>
                                                        Description:
                                                    </dt>
                                                    <dd>
                                                        {{ task.description }}
                                                    </dd>
                                                    <dt>
                                                        Date:
                                                    </dt>
                                                    <dd>
                                                        {{ task.completion_date|date:"N d" }}
                                                    </dd>
                                                </dl>
                                            </dd>
                                        {% endfor %}
                                </dl>
                                {% endif %}

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tasks" class="tab-pane">

        <div class="tasks">
            <div class="well">

            <div class="header">
                <h2>
                    Tasks
                </h2>
            </div>
                <div id="task-list"></div>

                <div class="footer">
                    <table class="table">
                        <tr>


                    <td class="span5">
                        <h2>Project Total :</h2>
                    </td>
                    <td class="span2">
                        {% if user.is_staff %}
                        <h3>
                          $ {{ project.get_project_expense }}
                        </h3>
                        {% endif %}

                    </td>
                    <td class="span2">
                        {% if user.is_staff %}
                        <h3>
                           $ {{ project.get_project_price }}
                        </h3>

                        {% endif %}
                    </td>
                    <td class="span3">
                        <h2>
                           $ {{ project.get_project_total }}
                        </h2>

                    </td>
                        </tr>
                    </table>
                  </div>

    </div>

    </div>
    </div>

    <div id="change-orders" class="tab-pane">
        <div class="change-orders">
            <div class="header">
                <h2>Change Orders</h2>
            </div>

            <div class="row">

                <div class="tabbable">
                    <div class="span2 tabs-left">
                        <ul class="nav nav-tabs">
                            {% for changeorder in project.changeorder_set.all|dictsortreversed:"created" %}
                                <li {% if forloop.first %}class="active"{% endif %}>
                                    <a href="#tab-content-{{ changeorder.slug }}"
                                       data-toggle="tab">{{ changeorder.created|date:"N d" }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-content">

                        {% for changeorder in project.changeorder_set.all %}
                            <div id="tab-content-{{ changeorder.slug }}"
                                 class="tab-pane{% if forloop.first %} active{% endif %}">
                                <div class="span4">
                                    <h3>
                                        <a href="{% url 'changes:change-detail' changeorder.id %}">
                                            {{ changeorder.title|title }}
                                        </a>
                                    </h3>

                                    <p>{{ changeorder.description }} {% lorem 2 p %}</p>
                                </div>

                                <div class="span6">
                                    <h3>
                                        Tasks Modified:
                                    </h3>

                                    <ul>
                                        {% for task in changeorder.tasks.all %}
                                            <li>
                                                {{ task.title|title }}
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div id="galleries" class="tab-pane">
        <div class="galleries">

                <div class="header">
                    <h2>Gallery</h2>
                </div>
                    <div class="row">
                        {% for img in project.project_images.all %}

                        <div class="span4">
                        <img class="thumbnail" src="{{ img.image.url }}">
                        </div>

                        {% endfor %}

                    </div>
                </div>
        </div>

    </div>

    </div>

    </div>




    {% comment %}
<iframe src="{% url 'timelines:task-form' %}" sandbox="allow-same-origin allow-forms" height="500px" width="400px"></iframe>
<p><a href="{% url 'timelines:project-delete' project.slug %}">delete</a></p>
<p><a href="{% url 'timelines:project-update' project.slug %}">update</a></p>
{% endcomment %}
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/bootstrap-tab.js' %}"></script>
    <script src="{% static 'js/bootstrap-transition.js' %}"></script>

    <script src="{% static 'js/ajax/jquery-1.2.3.pack.js' %}"></script>

    <script src="{% static 'js/ajax/runonload.js' %}"></script>

    <script type="text/javascript">

    $(document).ready( function() {
        getProjectSummary({{ project.id }});
    });

    function getProjectSummary(project_id) {

            var JSON_url = '/cpm/projects/json/' + project_id + '/';
            var list_data = [];
            var table_head = '<thead><tr><th class="span5">Task</th>'
                + '<th class="span2">Expense</th><th class="span2">Markup</th>'
                + '<th class="span3">Status</th></tr></thead>'
                    ;

            $.getJSON(JSON_url, function (data) {
                var i = 0;
                var cat_list = [];
                var cat_data = {};

                $.each(data['category_totals'], function (key, value) {
                    cat_list.push(value);
                });
                var cat_list_sorted = cat_list.sort(function (a, b) {
                    if (a.order > b.order) return 1;
                    if (a.order < b.order) return -1;
                    return 0;
                });
                $.each(cat_list_sorted, function (key_1, value_1) {
                    cat_data[value_1['id']] = value_1;

                });
                $.each(cat_list_sorted, function (key, value) {
                    var task_list = [];
                    var list1_data = [];
                    var cat_total_list =  ['Total', value['expense'], value['price'], value['total']];
                    var cat_total = '<tr class="total"><th>' + cat_total_list.join('</th><th>$ ') + '</th></tr>';
                    $.each(cat_data[value['id']]['task_set'], function (key_1, value_1) {
                        task_list.push(value_1);

                    });
                    task_list = task_list.sort(function (a, b) {
                        if (a._order > b._order) return 1;
                        if (a._order < b._order) return -1;
                        return 0;
                    });
                    $.each(task_list, function (key_1, value_1) {
                        var pre_list= [value_1['title'], '$ ' + value_1['expense'], '$ ' + value_1['price'], value_1['projected_completion_date']];
                        list1_data.push('<tr><td>' + pre_list.join('</td><td>') + '</td></tr>');
                    });
                    list_data.push('<div class="task-table"><h2>' + value['title'] + '</h2>' + '<table class="table table-striped">'
                            + table_head + '<tbody>' + list1_data.join('') + cat_total + '</tbody></table></div>'
                    );

                    i++;
                });
                $('#task-list').html(list_data.join(''));

            });

        }


    </script>

{% endblock extra_js %}

