{% extends "base.html" %}
{% load webdesign staticfiles %}

{% block title %}Projects{% endblock %}


{% block content %}
    {% if user == client or user.is_superuser %}



        <div class="row">
        <div class="span4">
            <h4><span>Welcome Back, {{ user.username }}</span></h4>
            <ul class="thumbnails user-profile">
                <li class="span1">
                    <div class="animated bounceInLeft">
                        <div class="pad15"></div>
                        <img class="img-rounded" src="holder.js/60x60/social">
                        <small><a href="#" class="edit">Edit Profile</a></small>
                    </div>
                </li>
                <li class="span3">
                    <!-- User Account Info -->
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>{{ user.get_full_name }}User Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ user.company.title }}Company Title</td>
                        </tr>
                        <tr>
                            <td>{{ user.phone }}555.555.5555</td>
                        </tr>
                        <tr>
                            <td>{{ user.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
            <div class="clearfix">

            </div>
        </div>
        <div class="wpl-widget messages">
            <div class="span8">
                <div class="well pad-0">
                    <div class="header">
                        <div class="animated bounceInDown">
                            <i class="pull-left icon-inbox colour"></i>

                            <h2 class=""><span>Messages</span></h2>
                        </div>
                    </div>
                    <div class="animated bounceInRight">

                        {% include 'messages/message_widget.html' %}

                    </div>

                </div>

                <form action="{% url 'messages:message-form' %}" method="post" class="animated fadeInUp"
                      id="message-form">
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on info"><i class="icon-envelope"></i></span>
                        <input class="span7" id="id_message" name="message" placeholder="New message..">
                        <button type="submit" id="submit" class="btn btn-primary"><i class="icon-share-alt"></i></button>
                    </div>
                </div>
                    {% if user.is_superuser %}
                        <!--
                        <button class="btn-info btn" id="refresh-messages" onclick="getMessages()">
                            <i class="icon icon-refresh"></i>
                        </button>
                        -->
                        <input id="id_recipient" name="recipient" value="1" type="hidden">
                    {% else %}
                        <input id="id_recipient" name="recipient" value="1" type="hidden">
                    {% endif %}
                </form>
            </div>

        </div>
    </div>
    {% endif %}


    <div class="wpl-widget projects">
        <div class="well pad-0">
            <div class="header">
                <i class="pull-left icon-home colour"></i>
                <h2>Projects</h2>
            </div>

            <table class="table">
                <thead></thead>
                <tbody>
                {% for project in project_list %}
                    <tr>
                        <td class="span5">
                            <a class="btn btn-info" href="{% url 'projects:project-detail' project.id %}">
                                <i class="icon-zoom-in"></i>
                                &nbsp;&nbsp;
                                {{ project.title }}
                            </a>
                        </td>
                        <td class="span6">
                            <div class="progress">
                                <div class="bar" style="width: {% widthratio project.get_progress 1 100 %}%;">
                                    {% if project.get_progress > .1 %}
                                    {% widthratio project.get_progress 1 100 %}% complete
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td class="span1">
                            {% if user.is_superuser %}
                                <a class="btn btn-mini btn-info"
                                   href="{% url 'updates:update-project-form' project.user_id  %}">Update</a>
                                {% else %}
                            <a class="btn btn-link" href="{% url 'projects:project-detail' project.id %}">
                               <i class="icon-external-link"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


    <div class="row">

        {% if user == client or user.is_superuser %}
        <div class="wpl-widget updates">
            <div class="span6">
                <div class="well pad-0">
                    <div class="header">
                        <div class="animated bounceInLeft">
                            <i class="pull-left icon-ok-circle colour"></i>

                            <h2 class=""><span>Updates</span></h2>
                        </div>
                    </div>
                    <!-- Carousel nav -->
                <div class="carousel-nav">
                    <div id="updates-next" class="widget-scroll-next3"><i class="icon-chevron-right white but_marg"></i></div>
                    <div id="updates-prev" class="widget-scroll-prev3"><i class="icon-chevron-left white"></i></div>
                </div>
                    <div class="caroufredsel_wrapper">
                        <div id="updates-carousel">
                            <!-- Carousel items -->
                            {% for project in project_list %}
                                {% for update in project.update_set.all|dictsortreversed:"created" %}
                                    <div class="slider-item">
                                        <h3><i class="icon-calendar"></i>  {{ update.created }}</h3>

                                        <h4>
                                            <a href="{% url 'projects:project-detail' project.id %}">
                                            {{ update.title }}
                                            </a>
                                        </h4>
                                        <h5>
                                            <small>update on:   </small>
                                                <em class="colour">{{ project.title }}</em>
                                        </h5>

                                        <div class="clearfix"></div>
                                                <p>
                                                    {% lorem 1 p %}
                                                    {{ update.description }}
                                                </p>


                                        <div class="row">
                                            {% if update.update_images.all %}

                                                {% for img in update.update_images.all %}
                                                    <div class="span1">
                                                        <img class="thumbnail" src="{{ img.image.url }}">
                                                    </div>
                                                {% endfor %}

                                            {% else %}

                                                <div class="span1">
                                                    <img class="thumbnail" src="holder.js/50x50/gray">
                                                </div>
                                                <div class="span1">
                                                    <img class="thumbnail" src="holder.js/50x50/gray">
                                                </div>
                                                <div class="span1">
                                                    <img class="thumbnail" src="holder.js/50x50/gray">
                                                </div>
                                                <div class="span1">
                                                    <img class="thumbnail" src="holder.js/50x50/gray">
                                                </div>
                                                <div class="span1">
                                                    <img class="thumbnail" src="holder.js/50x50/gray">
                                                </div>
                                                <div class="span1">
                                                    <img class="thumbnail" src="holder.js/50x50/gray">
                                                </div>
                                            {% endif %}
                                    </div>


                                        {% if update.tasks.all %}
                                            <h5>Tasks completed this update: </h5>
                                    <ul class="nav nav-list">
                                        {% for task in update.tasks.all %}
                                            <li>
                                                {{ task.title }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                        {% endif %}



                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>
            </div>


        <div class="wpl-widget change-orders">
            <div class="span6">
                <div class="well pad-0">
                    <div class="header">
                        <div class="animated bounceInLeft">
                            <i class="pull-left icon-edit colour"></i>

                            <h2 class=""><span>Change Orders</span></h2>
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <div class="carousel-nav">
                        <div id="change-orders-next" class="widget-scroll-next3"><i class="icon-chevron-right white but_marg"></i> </div>
                        <div id="change-orders-prev" class="widget-scroll-prev3"><i class="icon-chevron-left white"></i></div>
                    </div>

                    <div class="caroufredsel_wrapper">
                        <div id="change-orders-carousel">
                            <!-- Carousel items -->
                            {% for project in project_list %}
                                {% for co in project.changeorder_set.all|dictsortreversed:"created" %}
                                    <div class="slider-item">

                                    {% if co.approved == None %}

                                    <div class="alert alert-block fade in out" id="co-alert_{{ co.id }}">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <h4>Heads up!</h4>
                                        <br/>
                                        This change order, <strong>{{ co.title }}</strong>, is awaiting your approval. Please review it and decide to either:
                                        <br/>
                                        <br/>
                                        <ul class="inline text-center">
                                            <li>
                                                <a id="co-1_{{ co.id }}" class="co-approve" href="#"><i class="icon-thumbs-up"></i></a>
                                                approve
                                            </li>
                                            <li>&nbsp;</li>
                                            <li>
                                                - or -
                                            </li>
                                            <li>&nbsp;</li>
                                            <li>
                                                <a id="co-0_{{ co.id }}" class="co-disapprove" href="#"><i class="icon-thumbs-down"></i></a>
                                                reject
                                            </li>

                                        </ul>
                                        <br/>
                                        <small>*hint: just click the thumbs up or thumbs down to send your reply</small>

                                    </div>
                                        {% elif co.approved == False %}
                                        <h6 class="pull-right">Revision in progress</h6>
                                        {% else %}
                                        <h6 class="pull-right">You approved this {{ co.modified|date:"N d" }}</h6>

                                    {% endif %}

                                        <h3><i class="icon-calendar"></i>  {{ co.created }}</h3>
                                    <h4>
                                        <a href="{% url 'projects:project-detail' project.id %}">
                                            {{ co.title }}
                                        </a>
                                    </h4>

                                        <h5>
                                            <small>project scope change on:  </small>
                                            <em class="colour">{{ project.title }}</em>
                                        </h5>

                                        <div class="clearfix">

                                            <p>
                                                {% lorem 1 p %}
                                                {{ co.description }}
                                            </p>


                                        </div>
                                        {% if co.tasks.all %}
                                            <h5>Tasks that were modified: </h5>
                                            <ul class="nav nav-list">
                                                {% for task in co.tasks.all %}
                                                    <li>
                                                        {{ task.title }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>

                    </div>


                {% endif %}


                </div>
            </div>
        </div>


    </div>


{% endblock content %}


{% block extra_js %}
    <script src="{% static 'js/jquery.carouFredSel-6.2.1-packed.js' %}"></script>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function ($) {
            var changeOrdersCarousel = $("#change-orders-carousel");
            changeOrdersCarousel.carouFredSel({
                width: "100%",
                circular: true, responsive: true, auto: false,
                items: {
                    visible: { min: 1, max: 1 }
                },
                mousewheel: false,
                swipe: { onMouse: true, onTouch: true },
                prev: { button: "#change-orders-prev", key: "left" },
                next: { button: "#change-orders-next", key: "right" }
            });
            var updatesCarousel = $("#updates-carousel");
            updatesCarousel.carouFredSel({
                width: "100%",
                circular: true, responsive: true, auto: false,
                items: {
                    visible: { min: 1, max: 1 }
                },
                mousewheel: false,
                swipe: { onMouse: true, onTouch: true },
                prev: { button: "#updates-prev", key: "left" },
                next: { button: "#updates-next", key: "right" }
            });
        });

        $('.change-orders .alert').on('click', '.co-approve', function(e) {
            e.preventDefault();
            var cookie = 'csrfmiddlewaretoken=' + getCookie('csrftoken') + '&';
            var co_id = $(this)[0].id.split('_')[1];
            var ajaxPost = cookie + 'approved=' + 2;
            console.log(ajaxPost);
            $.ajax({ url: '/cpm/changes/update/json/' + co_id + '/',
                type: 'POST',
                data: ajaxPost,
                success: function (data) {
                    console.log('success' + data['success']);
                    $('#co-alert_'+co_id).addClass('alert-success').html(
                                    '<button type="button" class="co-approve close" data-dismiss="alert">&times;</button>'
                                    + '<h4>Success!</h4>'
                                    + 'Your reply was submitted! Thank you.'
                    );
                },
                error: function (data) {
                    console.log(data['error']);
                }
            });

        });
        $('.change-orders .alert').on('click', '.co-disapprove', function(e) {
            e.preventDefault();
            var co_id = $(this)[0].id.split('_')[1];
            console.log(co_id);
            var cookie = 'csrfmiddlewaretoken=' + getCookie('csrftoken') + '&';
            var ajaxPost = cookie + 'approved=' + 3;
            console.log(ajaxPost);
            $.ajax({ url: '/cpm/changes/update/json/' + co_id + '/',
                type: 'POST',
                data: ajaxPost,
                success: function (data) {
                    console.log('success' + data['success']);
                        $('#co-alert_'+co_id).addClass('alert-danger').html(
                            '<button type="button" class="co-approve close" data-dismiss="alert">&times;</button>'
                                + '<h4>Thank you</h4>'
                                + 'Your reply was submitted, we will get in touch with you to revise the change order.'
                        );
                },
                error: function (data) {
                    console.log(data['error']);
                }
            });

        });

            //]]>
    </script>
{% endblock extra_js %}

{% block extra_css %}
    <style>
    .wpl-widget.messages input {
        line-height: 23px;
    }
    .wpl-widget.messages .controls .btn {
        height: 28px;
    }

        .wpl-widget.projects .table .btn-link {
            font-size: 18px;
            padding: 3px;
        }
        .wpl-widget.projects .table .btn-link:hover {
            font-size: 24px;
            padding: 0;
            text-decoration: none;
        }
    .wpl-widget.projects .table .btn-info i {
        font-size: 14px;
        padding: 8px;
    }
    .wpl-widget.projects .table .btn-info:hover i {
        font-size: 16px;
        padding: 0 7px;
    }
        .wpl-widget .project-detail-link:hover {
            background-color: #f4bcb6;
        }
        wpl-widget .progress {
            margin-bottom: 0;
        }
        .wpl-widget .well {
            position: relative;
        }
        .wpl-widget .carousel-nav {
            position: absolute;
            top:0;
            right:0;
            display: inline-block;
            padding: 14px 5px;
        }
        #updates-prev, #change-orders-prev {
        }
        #updates-next, #change-orders-next {
        }
        #updates-prev, #change-orders-prev,  #updates-next, #change-orders-next {
            cursor: pointer;
            text-align: center;
            width: 25px;
            height: 25px;
            margin: 3px;
            line-height: 25px;
            background: #e6e6e6;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            -moz-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            outline: none;
        }
        .widget-scroll-prev3 i, .widget-scroll-next3 i {
            line-height: 25px;
        }
        .images-horizontal div, .images-horizontal img {
            float: left;
            display: inline-block;
        }
        .images-horizontal div {margin-left: 5px;}
        @media (min-width:1200px) {
            .images-horizontal div {margin-left: 42px;}
        }
        .images-horizontal img {
            width: 100%;
            height: auto !important;
        }
        .images-horizontal div:first-child {margin-left: 0;}
            .icons{list-style-type:none;margin:0}
            .icons li [class^="icon-"],.icons li [class*=" icon-"]{display:inline-block;width:1.2857142857142858em;text-align:center; margin-left:-3px; margin-right:4px;
            }




    </style>
{% endblock extra_css %}