{% extends 'base.html' %}
{% load staticfiles crispy_forms_tags webdesign %}

{% block extra_css %}

    <link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}">
{% endblock extra_css %}


{% block sub_menu %}{{ block.super }}
    <li class="active"><a href="#updates" data-toggle="tab"><i class="icon-ok-circle"></i></a></li>
    <li><a href="#tasks" data-toggle="tab"><i class="icon-tasks"></i></a></li>
    <li><a href="#change-orders" data-toggle="tab"><i class="icon-edit"></i></a></li>
    <li><a href="#galleries" data-toggle="tab"><i class="icon-picture"></i></a></li>
{% endblock sub_menu %}

{% block title %}
    <h1>
        {{ project.title|title }}
        <small>
        </small>
    </h1>
{% endblock title %}
{% block intro %}
    <div class="progress active">
        <div class="bar" style="width: {% widthratio project.get_progress 1 100 %}%;"></div>
    </div>
{% endblock intro %}



{% block content %}


    <div class="wpl-widget">

    <div class="tab-content">
    <div id="updates" class="tab-pane active">
        <div class="updates">

            <div class="header">
                <h2>Updates</h2>
            </div>

            <div class="row">

                <div class="tabbable">
                    <div class="span2 tabs-left">
                        <ul class="nav nav-tabs">
                            {% for update in project.update_set.all %}
                                <li {% if forloop.first %}class="active"{% endif %}>
                                    <a href="#tab-content-{{ update.slug }}"
                                       data-toggle="tab">{{ update.created|date:"N d" }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-content">

                        {% for update in project.update_set.all %}
                            <div id="tab-content-{{ update.slug }}"
                                 class="tab-pane{% if forloop.first %} active{% endif %}">
                                <div class="span4">
                                    <h3>
                                        <a href="{% url 'updates:update-detail' update.id %}">
                                            {{ update.title|title }}
                                        </a>
                                    </h3>

                                    <p>{{ update.description }} {% lorem 2 p %}</p>
                                </div>

                                <div class="span6">

                                    <img class="thumbnail" src="holder.js/450x300/gray">

                                    <div class="row">
                                        <div class="span2">
                                            <img class="thumbnail" src="holder.js/130x50/gray">
                                        </div>
                                        <div class="span1">
                                            <img class="thumbnail" src="holder.js/50x50/gray">
                                        </div>
                                        <div class="span1">
                                            <img class="thumbnail" src="holder.js/50x50/gray">
                                        </div>
                                        <div class="span1">
                                            <img class="thumbnail" src="holder.js/50x50/gray">
                                        </div>
                                        <div class="span1">
                                            <img class="thumbnail" src="holder.js/50x50/gray">
                                        </div>
                                    </div>


                                    {% if update.tasks.all %}
                                <h3>
                                    Tasks Completed This Update:
                                </h3>

                                <dl>
                                        {% for task in update.tasks.all %}
                                            <dt class="lead">
                                                {{ task.title|title }}
                                            </dt>
                                            <dd>
                                                <dl class="dl-horizontal">
                                                    <dt>
                                                        Category:
                                                    </dt>
                                                    <dd>
                                                    {{ task.category.title|title }}
                                                    </dd>
                                                    <dt>
                                                        Description:
                                                    </dt>
                                                    <dd>
                                                        {{ task.description }}
                                                    </dd>
                                                    <dt>
                                                        Date:
                                                    </dt>
                                                    <dd>
                                                        {{ task.completion_date|date:"N d" }}
                                                    </dd>
                                                </dl>
                                            </dd>
                                        {% endfor %}
                                </dl>
                                {% endif %}

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tasks" class="tab-pane">

        <div class="tasks">
            <div class="well">

            <div class="header">
                <h2>
                    Tasks
                </h2>
            </div>


                {% with project_category_totals=project.task_set.all.0.get_project_category_totals.values %}




                        {% for cat in project_category_totals %}

                            {% if not forloop.first %}
                                </tbody>
                                </table>
                                </div>
                            {% endif %}
                            <div class="task-table" id="category-table-{{ cat.id }}">

                            <h2>{{ cat.title|title }}</h2>

                            <table class="table table-striped">
                                <caption>{{ cat.description }}{% lorem 20 w %}</caption>
                                <thead>
                                <tr class="{# cycle 'success' 'error' 'warning' 'info' as row_colour #}">
                                    <th>Task</th>

                                    <th>
                                        {% if user.is_staff %}
                                        Expense
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if user.is_staff %}
                                        Markup
                                        {% endif %}
                                    </th>
                                    <th>Status</th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for task in cat.tasks %}
                                    <tr class="{{ row_colour }}">
                                        <td class="span5{% if forloop.first %} active{% endif %}">
                                            <a href="#task-content-{{ task.id }}" data-toggle="tab">
                                                {{ task.title|title }}
                                            </a>
                                        </td>

                                        <td class="span2">
                                            {% if user.is_staff %}
                                            $ {{ task.expense }}
                                            {% endif %}
                                        </td>
                                        <td class="span2">
                                            {% if user.is_staff %}
                                            $ {{ task.price }}
                                            {% endif %}
                                        </td>
                                        <td class="span3">
                                            {{ task.due_date_until }}
                                        </td>

                                    </tr>
                                {% endfor %}
                                <tr class="total">
                                    <th>Total :</th>
                                    <th>
                                        {% if user.is_staff %}
                                        $ {{ cat.expense }}
                                    {% endif %}
                                    </th>
                                    <th>
                                        {% if user.is_staff %}
                                        $ {{ cat.price }}
                                    {% endif %}
                                    </th>
                                    <th>$ {{ cat.total }}</th>
                                </tr>
                                </tbody>
                            </table>
                        {% endfor %}

                        </div>
                {% endwith %}


                <div class="footer">
                    <table class="table">
                        <tr>


                    <td class="span5">
                        <h2>Project Total :</h2>
                    </td>
                    <td class="span2">
                        {% if user.is_staff %}
                        <h3>
                          $ {{ project.get_project_expense }}
                        </h3>
                        {% endif %}

                    </td>
                    <td class="span2">
                        {% if user.is_staff %}
                        <h3>
                           $ {{ project.get_project_price }}
                        </h3>

                        {% endif %}
                    </td>
                    <td class="span3">
                        <h2>
                           $ {{ project.get_project_total }}
                        </h2>

                    </td>
                        </tr>
                    </table>
                  </div>

    </div>

    </div>
    </div>

    <div id="change-orders" class="tab-pane">
        <div class="change-orders">
            <div class="header">
                <h2>Change Orders</h2>
            </div>

            <div class="row">

                <div class="tabbable">
                    <div class="span2 tabs-left">
                        <ul class="nav nav-tabs">
                            {% for changeorder in project.changeorder_set.all %}
                                <li {% if forloop.first %}class="active"{% endif %}>
                                    <a href="#tab-content-{{ changeorder.slug }}"
                                       data-toggle="tab">{{ changeorder.created|date:"N d" }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-content">

                        {% for changeorder in project.changeorder_set.all %}
                            <div id="tab-content-{{ changeorder.slug }}"
                                 class="tab-pane{% if forloop.first %} active{% endif %}">
                                <div class="span4">
                                    <h3>
                                        <a href="{% url 'changes:change-detail' changeorder.id %}">
                                            {{ changeorder.title|title }}
                                        </a>
                                    </h3>

                                    <p>{{ changeorder.description }} {% lorem 2 p %}</p>
                                </div>

                                <div class="span6">
                                    <h3>
                                        Tasks Modified:
                                    </h3>

                                    <ul>
                                        {% for task in changeorder.tasks.all %}
                                            <li>
                                                {{ task.title|title }}
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>



            </div>

        </div>
    </div>
    <div id="galleries" class="tab-pane">
        <div class="galleries">
            <div class="header">
                <h2>Gallery</h2>
            </div>

                <div id="task-list"></div>


        </div>

    </div>

    </div>

    </div>




    {% comment %}
<iframe src="{% url 'timelines:task-form' %}" sandbox="allow-same-origin allow-forms" height="500px" width="400px"></iframe>
<p><a href="{% url 'timelines:project-delete' project.slug %}">delete</a></p>
<p><a href="{% url 'timelines:project-update' project.slug %}">update</a></p>
{% endcomment %}
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/bootstrap-tab.js' %}"></script>
    <script src="{% static 'js/bootstrap-transition.js' %}"></script>

    <script src="{% static 'js/ajax/jquery-1.2.3.pack.js' %}"></script>

    <script src="{% static 'js/ajax/runonload.js' %}"></script>

    <script type="text/javascript">

    function getProjectSummary(project_id) {

            var JSON_url = '/cpm/projects/json/' + project_id + '/';
            var project_data = {};
            var task_data = [];
            var list_data = [];
            //var task_list = [];
            $.getJSON(JSON_url, function (data) {
                var i = 0;
                $.each(data['category_totals'], function (key, value) {
                    var task_list = [];
                    var list1_data = [];
                    $.each(value['task_set'], function (key_1, value_1) {
                        task_list.push(value_1);

                    });
                    task_list = task_list.sort(function (a, b) {
                        if (a._order > b._order) return 1;
                        if (a._order < b._order) return -1;
                        return 0;
                    });
                    $.each(task_list, function (key_1, value_1) {
                        var list2_data = [];
                        $.each(value_1, function (key_2, value_2) {
                            list2_data.push('<li>' + key_2 + ' : ' + value_2 + '</li>');
                        });
                        var list_item = '<li id="task_' + 'id=' + value_1['id'] + '">' + value_1['title'] + '</a>' + '<ul>' + list2_data.join('') + '</ul>' + '</li>';

                        list1_data.push(list_item);
                    });

                    list_data.push('<dt>' + value['title'] + '</dt><dt><ul><li>exp:  $' +  value['expense'] + '</li><li>markup:  $' + value['price'] + '</li><li>total:  $' + value['total']
                            + '</li><li>Tasks <ul>' + list1_data.join('') + '</ul></li></dt>'
                    );
                    i++;
                });
                $('#task-list').html('<dl class="dl-horizontal">' + list_data.join('') + '</dl>');

            });

        }


    </script>

{% endblock extra_js %}

